/*
 * hint:
 * use # in front of the name of an id from your html page
 * use . in front of the name of a class of things from your html page
 * use , to separate a list of things that have some shared css rule
 * use float to make something locate itself on the right or left
 */

html {
  background-color: #def;
}

body {
    margin: 30px;
    padding: 0 30px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: darkslategray;
    border: dotted darkslategray;

    display: table;
}

a {
  text-decoration: none;
  color: #19a6a6;
}

.section{
  margin: 30px 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  text-align: center;
  padding-block-end: 10px;
}

h2 {
  border-bottom: solid thin darkslategray;
}

#courses ul {
    list-style: circle;
}

#faculty ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  list-style: none;
}

.name, .office {
  text-align: center;
}

img {
  border-radius: 7%;
}

.tools-container {
  border-bottom: solid thin darkslategray;
}

#tools li {
  margin: 0.2em 0;
}

#tools li.cloud:after {
  color: #9cf;
  content: " ☁";
}

.tools-legend {
  display: none;
}

.card {
  margin: 30px 10px;
}

.card h6 {
  font-size: 105%;
  margin: 0.5em 0;
}

#style {
  display: table-header-group;
}

#style ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;

  margin: 10px 0 0 0;
  padding: 0;
}

#style a {
  color: white;
}

#style li {
  margin: 10px 5px;
  padding: 5px 10px;
  border-radius: 7%;
  background: darkslategrey;
}
