/*
 * hint:
 * use # in front of the name of an id from your html page
 * use . in front of the name of a class of things from your html page
 * use , to separate a list of things that have some shared css rule
 * use float to make something locate itself on the right or left
 */

html {
  background-color: #def;
}

body {
    margin: 30px;
    padding-left: 30px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: darkslategray;
    border: dotted darkslategray;
}

.section{
  margin: 30px 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  text-align: center;
  padding-block-end: 10px;
}

#courses ul {
    list-style: circle;
}

#faculty ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  list-style: none;
}

.name, .office {
  text-align: center;
}

img {
  border-radius: 7%;
}
